* {
    color: white;
    box-sizing: border-box;
}

body {
    background-color: #192A3C;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin: 0;
}

h1 {
    font-size: 5vh;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    max-width: 1000px;
    margin-top: 2rem;
}

.projects-container div {
    background-color: #22384e;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

a {
    text-decoration: none;
    color: lightblue;
}
/* From Uiverse.io by adamgiebl */ 
button {
  border: none;
  display: block;
  position: relative;
  padding: 0.7em 2.4em;
  padding-bottom: 25px;
  font-size: 18px;
  background: transparent;
  cursor: pointer;
  user-select: none;
  margin: auto;
  overflow: hidden;
  color: royalblue;
  z-index: 1;
  font-family: inherit;
  font-weight: 500;
}

button a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: -1;
  border: 4px solid royalblue;
}

button a::before {
  content: "";
  display: block;
  position: absolute;
  width: 8%;
  height: 500%;
  background: var(--lightgray);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-60deg);
  transition: all 0.3s;
}

button:hover a::before {
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 100%;
  background: royalblue;
}

button:hover {
  color: white;
}

button:active a::before {
  background: #2751cd;
}